@import "../../styles/variables.scss";

.card{
  display: flex;
  flex-direction: column;
  width: 100%;

  &__image-container{
    height: 450px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;

    @media (max-width: 1400px){
      height: 279px;
    }

    @media (max-width: 680px){
      height: 340px;
    }

    @media (max-width: 576px){
      height: 300px;
    }

    @media (max-width: 480px){
      height: 250px;
    }

    @media (max-width: 420px){
      height: 200px;
    }

    @media (max-width: 380px){
      height: 379px;
    }

  }

  &__image{
    width: 100%;
    object-fit: cover;
    height: 100%;
  }

  &__rating{
    position: absolute;
    top:20px;
    left:20px;
  }

  &__title{
    margin-top: 24px;
    font-weight: 700;
    text-decoration: none;
    color: $backgroundColorDark;

    &:hover{
      color: $primaryColor;
    }
  }

  &__genre{
    color:$contextGrey;
    text-transform: capitalize;
  }

  &__genre-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 4px;
  }

}

.card__genre::after{
    content: "";
    display: inline-block;
    position: relative;
    margin: 0px 8px;
    bottom: 2px;
    width: 4px;
    height: 4px;
    border-radius: 100px;
    background-color: $contextGrey;
  }

.card__genre:last-child::after{
  display: none;
}

:global(.dark) .card__title{
  color: $backgroundColorLight;
}
