$primaryColor: #7B61FF;
$primaryColor2: #917CFF;
$secondary:#80858B;

$dark:#242426;
$graphite:#323537;

$contextError:#FF5154;
$contextGrey:#AFB2B6;
$contextWhite:#FFFFFF;

$backgroundColorDark:#000000;
$backgroundColorLight:#FFFFFF;

$tertiaryGreen: #00A340;
$tertiaryYellow: #F3A608;
$tertiaryOrange: #F45D2D;