// variables 
@import "../components/variables.scss";


// null 
@import "../components/null.scss";


// fonts 
@import "../components/fonts.scss";

body{
    background-color: $backgroundColor;
}

// buttons 
@import "../components/buttons.scss";


// container 
@import "../components/container.scss";

// header 
@import "../components/blocks/header.scss";

//titles
@import "../components/titles.scss";

//projects styles
@import "../components/blocks/projects.scss";

.project-image{

    &__image1{
        padding-bottom: 115%;
    }

    &__image2{
        padding-bottom: 70%;
    }

    &__image3{
        padding-bottom: 57%;
    }
}

.project-2images__item{
    padding-bottom: 130%;
}

//footer 
@import "../components/blocks/footer.scss";
