@import "../../../styles/variables.scss"; 

.favorite{
  padding: 2px 8px;
  background-color: $graphite;
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 6px;
  cursor: pointer;

  & input{
    display: none;
  }

  & input:checked+div *{
    fill: $primaryColor
  }

  &:hover *{
    fill:$contextWhite;
  }

}