.favorites{
  width: 100%;
  position: absolute;
  top:104px;
  left: 0px;
  bottom: 64px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}