@import "../../styles/variables.scss";

.input{
  padding: 10px 16px;
  border: none;
  height: 48px;
  border-radius: 10px;
  font-weight: 500;
  margin-top: 8px;
  outline: 2px solid $contextGrey;

  &:focus{
    outline: 2px solid $primaryColor;
  }

  &:hover{
    opacity: 0.7;
  }
}

.label+.label{
  margin-top: 24px;
}

:global(.dark) .input{
  background-color: $graphite;
  outline: none;
  color: $contextWhite;

  &:focus{
    outline: 2px solid $primaryColor;
  }
} 

.label{
  font-weight: 600;
  display: flex;
  flex-direction: column;
  min-width: 50px;
}

.error{
  border: 2px solid $contextError;
}