$backgroundColor: #f8fbfd;
$primaryColor: #c488fd;
$primaryBackground: #f3eefc;
$cardsColor: white;
$secondaryColor: lightblue;
$fontsColor: #363A67;
$colorCreated: #47dbff;
$colorInProgress: #7c76ff;
$colorDone: #10aa7a;