.connect {
    
    &__inner {
        padding-top: 150px;
        padding-bottom: 150px;

        text-align: center;
        @media (max-width:576px) {
            padding: 100px 0px;
        }
    }

    &__title{
        margin-top: 35px;
        @media (max-width:576px) {
            margin-top: 20px;
        }
    }

    .block-text{
        @media (max-width:576px) {
            margin-top: 20px;
        }
    }

}