@import "../../../styles/variables.scss";

.nav-button{
  height: 48px;
  width: 100%;
  width: max-content;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: $secondary;

  &__icon{
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
  }

  &__text{
    font-size: 18px;
    font-weight: 600;
    padding: 0px;
    margin: 0px;

  }
}

.nav-button:hover *{
  fill: $primaryColor2;
  color: $primaryColor2;
}

.nav-button__icon *{
  fill: $secondary;
}

.active *{
  fill: $primaryColor;
  color: $primaryColor;
}

